<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %>様、ORIGIN BOOK へようこそ</p>
    <p>保存した単語</p>
    <h1><%= @wordbook.word %></h1>
  </body>
</html>