/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 @import "bootstrap-sprockets";
 @import "bootstrap";

$emerald: #4aaead;
$dull-yellow: #f1d246;
$grey: #5f5f5f;

.main-header{
  border-color: transparent;
  ul {
    width: 100%;
  }
}

 body {
	margin-top: 100px;
}

#logo {
  margin-top: -17px;
  width: 245px;
}

.main-header li {
  margin-top: 25px;

  &:nth-child(1) {
    margin-top: 0;
  }

  &:last-child {
    float: right;
    color: white;
    margin-top: 40px;
  }

}

.main-wrapper {
  height: 86vh;
  display: flex;
  justify-content: center;
}

.btn-grey {
  background-color: $grey;
  color: white;
  &:hover {
    color: $emerald;
  }
}

.btn-emerald {
  background-color: $emerald;
  color: white;
  &:hover {
    color: white;
    background-color: #388e8d;
  }
}

.btn-yellow {
  background-color: $dull-yellow;
  color: white;
  &:hover {
    color: white;
    background-color: #ccb138
  }
}

.user-form-wrapper {
  width: 35%;
}

.user-actions {
  margin: {
    top: 20px;
    bottom: 15px;
  }
}

#error_explanation {
  color: cadetblue;
}
